/** Variables */
@import "_setup";

.post {
    p {
        padding-bottom: 10px;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $primary-color;
        }
    }
}